#todo-error{
  color: red;
  font-size: 2em;
}

.delete-list {
  float: right;
  margin-right: -10px;
  opacity: 0.50;
}


.header {
  font-size: 1.53em;
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.644);
  padding: 5px;
  margin-bottom: 15px;
}

.checked {
  color: rgb(22, 177, 22);
  text-decoration: line-through;
  font-weight: bold;
}

.temp {
    border: 1px solid #fff;
    background-color: transparent;
}

.temp option{
  	background-color: transparent !important;
	border: 1px solid #e4e4e4;
	color: #000;
	-webkit-appearance: none; 
     -moz-appearance: none; 
}